<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <title>Results | Book-List</title>
</head>

<body>
  <%- include('../../partials/header') %> <% if (locals.books) { %>
  <div>
    <% books.forEach(book => { %>
    <div id="bookResults">
      <img src="<%= book.image_url %>" alt="<%= book.title %>" />
      <h2><%= book.title %></h2>
      <p class="author"><%= book.author %></p>
      <p><%= book.description %></p>
      <form action="/form" method="POST">
        <input class="hidden" name="title" value="<%= book.title %>" style="display: none;">
        <input class="hidden" name="author" value="<%= book.author %>" style="display: none;">
        <input class="hidden" name="description" value="<%= book.description %>" style="display: none;">
        <input class="hidden" name="image_url" value="<%= book.image_url %>" style="display: none;">
        <input class="hidden" name="isbn" value="<%= book.isbn %>" style="display: none;">
        <input class="hidden" name="fulldescription" value="<%= book.fulldescription %>" style="display: none;">
        <button>Select</button>
      </form>
    </div>
    <% }) %>
  </div>
  <% } %>
  <script>

  </script>
</body>

</html>