<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <title>Document</title>
  </head>

  <body>

    <%- include('../partials/header') %>
    <div class="numberOfBooks">
      <p>
        <%= count %> Saved books!
      </p>
    </div>
    <div class="booksInDB">
      <% shelf.forEach(book => { %>
        <div class="shelvedBook">
          <img src="<%= book.image_url %>" alt="<%= book.title %>" />
        <h2><%= book.title %></h2>
        <p class="author"><%= book.author %></p>
        <form action="/detail/<%=book.id%>" method="GET">
          <button>Details</button>
        </form>
        <form action="/detail/<%=book.id%>?_method=DELETE" method="POST">
          <button>Remove from Library</button>
        </form>
        </div>
      <% }) %>
    </div>
  </body>
</html>

<!-- thumbnail image from data = 128 x 182 -->
