<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <a href="/contact">Contact us!</a>
    <a href="/about">About us!</a>
    <a href="/home">works</a>

    <% if (locals.books)  { %>
    <div id="bookResults">
      <% books.forEach(book => { %>
      <div>
        <img src="<%= book.image %>" alt="<%= book.title %>" />
        <h2><%= book.title %></h2>
        <p><%= book.author %></p>
        <p><%= book.description %></p>
      </div>
      <% }) }%>

    </div>
  </body>
</html>

<!-- thumbnail image from data = 128 x 182 -->
