<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="formContainer">
    <img src="<%=book.image_url %>">
    <form id="addBookForm" action="/add<%=update%>" method="POST">
      <input type="text" name="title" value="<%= book.title%>" />
      <input name="author" value="<%= book.author %>">
      <textarea name="fulldescription"><%=book.fulldescription%></textarea>
      <input name="image_url" value="<%= book.image_url %>" style="display: none;">
      <input class="hidden" name="isbn" value="<%= book.isbn %>" style="display: none;">
      <input name="bookshelf" required placeholder="Name a Bookshelf">
      <input class="hidden" name="description" value="<%= book.description %>" style="display: none;">
      <input class="hidden" name="id" value="<%= book.id %>" style="display: none;">
      <button>Save</button>
    </form>

  </div>
</body>

</html>